*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    cursor: grabbing;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    overflow: hidden;
}
.container span{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    min-width: 50px;
}
.container span::before{
    content: '';
    position: absolute;
    background: url(https://cdn.britannica.com/84/73184-050-05ED59CB/Sunflower-field-Fargo-North-Dakota.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    transition: 10s;
    opacity: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}
.container span:hover::before{
    transition: 0s;
    opacity: 1;
    width: 100%;
    height: 100%;
    filter:blur(3px);
}

.container span:hover::after{
    transition: 0s;
    opacity: 1;
    width: 100%;
    height: 100%;
}
