* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #0a7e7a, #057324);
    /* background: linear-gradient(45deg, #0fb9b3, #059c30); */
    min-height: 100vh;
}

a{
    text-decoration: none;
    color: black;
}

h1,h4{
    animation: glowing 2s infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;

    .title {
        font-size: 1.5rem;
        font-weight: 700;
        color: black;
        margin-bottom: 2rem;
    }

    .cardHolder {
        display: grid;
        justify-content: space-between;
        gap: 1rem;
        width: 90%;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        padding: 1rem;

        .card {
            border-radius: 0.5rem;
            padding: 1rem;
            background: linear-gradient(
                45deg,
                /* 02b78d */
                #05ad34 0%,
                #057324 42%,
                #0fb9b3 42%,
                #097976 45%,
                #05ad34 45%,
                #057324 48%,
                #0fb9b3 48%,
                #097976 51%,
                #05ad34 51%,
                #057324 54%,
                #0fb9b3 54%,
                #097976 57%,
                #05ad34 57%,
                #057324 60%,
                #0fb9b3 60%,
                #097976 100%
            );
            background-size: 300%;
            box-shadow: 2px 3px 5px white;
            transition: 0.5s ease-in-out;

            .cardTitle {
                color: white;
                transition: 0.3s ease-in-out;
                font-size: 1.5rem;
                font-weight: 500;
                margin-bottom: 1.5rem;
            }

            &:hover {
                animation: colorChange 0.3s ease-in-out;
                box-shadow: 3px 5px 5px #bbe002;
                background-position: 100%;

                .cardTitle {
                    /* color: #037c25; */
                    animation: glowing 2s infinite;
                    font-weight: 700;
                }
            }
        }
    }
}

@keyframes colorChange {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 100%;
    }
}

@keyframes glowing {
    0% {
        color: #b7d606;
        text-shadow: 0 0 5px #b7d606;
    }
    50% {
        color: #ffffff;
        text-shadow: 0 0 10px #ffffff;
    }
    100% {
        color: #b7d606;
        text-shadow: 0 0 5px #b7d606;
    }
}